# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker volumes
volumes/
pgdata/

# Python caching
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Ignore test images
*.jpg
*.jpeg
*.png
